Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt
dj-database-url
psycopg2-binary
django-cors-headers
gunicorn
whitenoise

python-dotenv>=1.0

# PostgreSQL
psycopg2-binary>=2.9 

# Image Handling
Pillow>=10.0

# for frontend integration
django-cors-headers>=4.3

# Authentication / utilities
django-filter>=23.0

# Production server
gunicorn>=21.2